.oscillator {
  background: red;
}

div#mp3_player {
  width: 500px;
  height: 60px;
  background: #000;
  padding: 5px;
  margin: 50px auto;
}
div#mp3_player > div > audio {
  width: 500px;
  background: #000;
  float: left;
}
div#mp3_player > canvas {
  width: 500px;
  height: 30px;
  background: #002d3c;
  float: left;
}
