.adsr {
  height: 100%;
  position: relative;
  padding: 0.2rem;
  height: 24rem;
  width: 20rem;

  .inner-rotate {
    transform: rotate(270deg) translateX(-2rem);

    div {
      input {
        margin: 1rem;
        width: 75%;
      }
    }
  }
  .value-displays {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    left: 2.3rem;
    div {
      margin: 0 0.5rem;
      width: 2.9rem;
      padding: 0.1rem 0rem;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
    }
  }
}
.aspect-initial {
  display: inline-block;
  transform: rotate(90deg) translateX(-0.4rem);
  margin-right: 1rem;
  font-weight: bold;
}
