@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster:wght@400;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  // font-size: 62.5%;
  font-size: 50%;
  background-size: cover;
  height: 100vh;
  // overflow-y: hidden;
  min-width: 1200px;
  background-color: rgb(160, 160, 160);
  // display: flex;
  padding-left: 0.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.synthname {
  font-family: 'Lobster', 'sans-serif';
  font-size: 5rem;
  letter-spacing: 2rem;
  margin-left: -2rem;
  text-align: center;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
}
