@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster:wght@400;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 50%;
  background-size: cover;
  height: 100vh;
  min-width: 1200px;
  background-color: rgb(160, 160, 160);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.space {
  height: 9rem;
}

.synthname {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
}
