@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  //   font-size: 14px;
  line-height: 1.7;
  box-sizing: border-box;
}
