.master-gain {
  border: 2px solid black;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  margin: 0.2rem;
  padding: 0.2rem 0;
  width: 10rem;

  .title {
    width: 8rem;
    text-align: center;
  }

  .knob {
    display: block;
    min-width: 5rem;
  }
}
