.effect-controller {
  border-radius: 5px;
  border: 0.2rem solid rgba(0, 0, 0, 0);
  background: rgb(250, 248, 248);
  margin: 0.2rem 0.4rem;
  padding: 0.2rem 0;
  width: 10rem;

  .name {
    width: 100%;
    font-size: 1.3rem;
  }

  .param-name {
    width: 100%;
    font-size: 1rem;
  }
  .inputs-container {
    padding: 0 0.6rem;
  }
  .input {
    width: 100%;
    margin-top: -0.2rem;
  }

  .knob {
    max-width: 5.8rem;
  }
  .reverse-btn {
    padding: 4px;
    padding-top: 0.2rem;
    width: 9rem;
    cursor: pointer;
  }
  .reversible {
    background: #eee;
    color: #222;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .reversed-true {
    color: #eee;
    background: #222;
    transform: rotateY(180deg);
    cursor: pointer;
  }
}
.minified-true {
  .inputs-container {
    transform: scale(0.9);
    margin-top: -1rem;
  }

  .param-name {
    .val {
      display: none;
    }
  }
}
