.distortion {
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
  display: inline-block;
  margin: 0 0.2rem;
  min-width: 12rem;

  background: rgba(255, 255, 255, 0.623);
  .inner {
    width: 100%;
  }
}
