.osccontrol {
  width: 17rem;
  margin: 0 1rem;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;

  .name {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: 10rem;
    white-space: nowrap;
  }
  .wavetable-icon {
    width: 4rem;
    display: inline-block;
    margin: 0;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.75;
    }
  }

  .wavetable-control {
    display: flex;
    padding-left: 0.3rem;
    width: 100%;
    margin-bottom: 5rem;
  }
  .flextrue {
    display: flex;
    width: 12rem;
    .gain {
      margin-right: 2rem;
    }
  }

  .current-wavetable {
    opacity: 1;
  }

  .octave {
    width: 100%;
    position: absolute;
    top: 6.5rem;

    b {
      //   display: none;
      opacity: 0;
    }
  }
}

.osccontrol-dropdown {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 2rem;
  width: 9rem;
}
