.osccontrol {
  width: 17rem;
  margin: 0 1rem;
  border: 2px solid black;
  border-radius: 5px;

  .name {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: 10rem;
    white-space: nowrap;
  }
  .wavetable-icon {
    width: 4rem;
    display: block;
  }

  .wavetable-select {
  }
  .flextrue {
    display: flex;
    width: 12rem;
    .gain {
      margin-right: 2rem;
    }
  }

  .octave {
    width: 80%;
    b {
      margin: 0 1rem;
    }
  }
}
