.distortion {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  display: inline-block;
  margin: 0.2rem 0.4rem;
  width: 10rem;
  background: rgb(250, 248, 248);
  .property {
    // background: white;
  }
  .inner {
    // background: red;
    width: 10rem;
    .knob {
      max-width: 40px;
    }
  }
  input {
    width: 80%;
  }
}
