.distortion {
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
  display: inline-block;
  margin: 0.2rem 0.5rem;
  width: 10rem;

  background: rgba(255, 255, 255, 0.623);
  .inner {
    width: 100%;
    .knob {
      max-width: 40px;
    }
  }
  input {
    width: 80%;
  }
}
