.reverb {
  width: 30%;
  border: black 2px solid;
  border-radius: 5px;
  margin: 0 0.2rem;
  width: 10rem;
  background: rgba(255, 255, 255, 0.623);

  line-height: 1.6rem;
  b {
    height: 1rem;
    line-height: 1rem;
  }
  input {
    width: 100%;
  }
  .slider-input {
    width: 100%;
  }
  .display {
    text-align: center;
    min-width: 100%;
  }
  .knob {
    max-width: 3.8rem;
    margin-top: -0.5rem;
    margin-bottom: -1rem;
  }
}
