.reverb {
  width: 30%;
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: 5px;
  margin: 0.2rem 0.4rem;
  width: 10rem;
  background: rgb(250, 248, 248);
  padding: 0.3rem;
  line-height: 1.9rem;

  .title {
    margin-top: 0.1rem;
  }

  b {
    height: 1rem;
  }
  input {
    width: 100%;
  }
  .slider-input {
    width: 100%;
  }
  .display {
    text-align: center;
    min-width: 100%;
  }
  .knob {
    max-width: 5.7rem;
  }
}
