.noiseosccontrol {
  width: 17rem;
  margin: 0 1rem;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  background: rgba(255, 255, 255, 0.623);

  .name {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: 10rem;
    white-space: nowrap;
    margin-bottom: 3rem;
  }
  .dropdown {
    position: absolute;
    top: 4rem;
  }
  .gain-knob {
    margin-top: 8.4rem;
  }
}
