.noiseosccontrol {
  width: 17rem;
  margin: 0 1rem;
  border-radius: 5px;
  position: relative;
  background: linear-gradient(120deg, rgb(240, 240, 240), rgb(204, 204, 204));
  // box-shadow: 0.5rem 0.2rem 4rem rgba(255, 255, 255, 0.7),
  //   -0.2rem -0.2rem 4rem rgba(0, 0, 0, 0.4);

  filter: invert(180);
  .name {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: 12rem;
    white-space: nowrap;
    margin-top: 0.5rem;
  }
  .dropdown {
    position: absolute;
    top: 4.2rem;
  }
  .gain-knob {
    margin-top: 8.4rem;
  }
  .knob {
    max-width: 5rem;
  }
}
