.reverb {
  width: 30%;
  border: black 2px solid;
  border-radius: 5px;
  margin: 0 0.2rem;
  min-width: 10rem;
  background: rgba(255, 255, 255, 0.623);
  padding: 0.2rem;
  input {
    width: 100%;
  }
}
