.delay {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  width: 30%;
  margin: 0.2rem 0.4rem;
  width: 10rem;
  background: rgb(250, 248, 248);
  margin: 0.2rem;

  .property {
    height: 1rem;
    text-align: center;
    width: 100%;
  }

  .knob {
    max-width: 5rem;
    margin-bottom: -0.6rem;
  }

  .value-display {
    margin-bottom: 1.4rem;
  }
}
