.delay {
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
  margin: 0 0.2rem;
  width: 10rem;
  background: rgba(255, 255, 255, 0.623);
  margin: 0.2rem;
  .time {
    width: 100%;
    .title {
      text-align: center;
      width: 100%;
    }
  }
  .title {
    height: 1rem;
  }

  .amount {
    width: 100%;
    .title {
      text-align: center;
      width: 100%;
    }
  }
  .knob {
    max-width: 5rem;
    margin-bottom: -0.3rem;
  }
}
