.dropdown {
  position: absolute;

  //   border: 1px solid black;
  border-radius: 5px;
  //   padding: 0.3rem 0rem;
  width: 9rem;
  min-height: 5rem !important;

  .open {
    position: absolute;
    z-index: 1;
    background: white;
    border: 1px solid black;
    width: 9rem;
    border-radius: 5px;

    .current-option {
      background: rgb(150, 150, 150);
    }
  }

  .closed {
    border: solid black 2px;
  }

  .option {
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: rgb(185, 185, 185);
    }
  }

  .active {
    background-color: crimson;
  }
}
