.synth {
  // background: rgba(255, 255, 255, 0.623);
  margin-left: 50%;
  transform: translateX(-50%);

  height: 90vh;
  min-width: 1200px;
  max-width: 1200px;
}

.osc-mix {
  width: 36rem;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 5px;

  .inputcontainer {
    width: 100%;
    padding: 0.4rem 0;
    .oscname {
      font-size: 1.2rem;
      display: inline-block;
      transform: translateY(-0.3rem);
      margin: 0 1rem;
    }
    input {
      margin-top: 0.3rem;
      width: 70%;
    }
  }
}

// synth layout

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 1200px;
  height: 84rem;
  border-radius: 5px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.623);
  padding: 1rem;
  // margin-left: 50vw;
  // transform: translateX(-50%);
}

.main-grid-section-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.main-grid-section-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.main-grid-section-3 {
  grid-area: 1 / 3 / 2 / 4;
}
.main-grid-section-4 {
  grid-area: 2 / 1 / 3 / 4;
  height: 20rem;
  position: relative;
  min-height: 20rem;
}

.section2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  // grid-row-gap: 0px;
}

.section2-grid-1 {
  grid-area: 1 / 1 / 2 / 2;

  width: 20rem;
  height: 22rem;
}
.section2-grid-2 {
  grid-area: 1 / 2 / 2 / 3;
  width: 20rem;
  height: 22rem;
}
.section2-grid-3 {
  grid-area: 2 / 1 / 3 / 3;
  padding: 1rem;
}

.keyboard {
  position: absolute;
  left: 51.5%;
  transform: translateX(-50%);
  z-index: 1;
}

.keyboard-container {
  width: 54rem;
  margin-top: 13rem;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  border: 2px solid black;
  border-radius: 5px;
  background: black;
}

.effect-rack {
  display: flex;
}

.chord-display {
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.623);
  width: 14rem;
  height: 2.2rem;
}

.panda-display {
  width: 16rem;
  // border: 2px solid black;
  // border-radius: 5px;
  // background: rgba(255, 255, 255, 0.623);
  transition: all 0.5s ease;
  cursor: move;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  position: absolute;
}

.canvas {
  position: absolute;
  border-radius: 5px;
  // width: 50rem;
  width: 100%;
  height: 12rem;
  left: 0;
  top: 0.5rem;

  // border: 2px solid black;
}
