.osc,
.subosc,
.adsr {
  width: 17rem;
  padding: 1rem;
  margin: 1rem;
  background: linear-gradient(dodgerblue, rgb(53, 201, 255));
}

.osc-master {
  width: 17rem;
  padding: 1rem;
  margin: 1rem;
  background: linear-gradient(dodgerblue, rgb(53, 201, 255));
}

.filter1,
.distortion,
.reverb,
.delay {
  width: 17rem;
  padding: 1rem;
  margin: 1rem;
  background: linear-gradient(rgb(255, 165, 30), rgb(255, 83, 53));
}

// synth layout

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
}

.main-grid-section-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.main-grid-section-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.main-grid-section-3 {
  grid-area: 1 / 3 / 2 / 4;
}
.main-grid-section-4 {
  grid-area: 2 / 1 / 3 / 4;
}
